name: Nightly Test

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

env:
  go-version: 1.25


jobs:
  test-backup-restore-api:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        milvus_version: ["master", "2.6", "2.5"]
        case_tag: [L0, L1, L2, MASTER, RBAC]
        exclude:
          - milvus_version: 2.5
            case_tag: MASTER

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: pip

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
          cache: true

      - name: Build
        timeout-minutes: 5
        shell: bash
        run: |
          yq -i '.log.level = "debug"' configs/backup.yaml
          cat configs/backup.yaml || true
          go get
          go build
      - name: Install dependency

        timeout-minutes: 5
        working-directory: tests
        shell: bash
        run: |
          pip install -r requirements.txt --trusted-host https://test.pypi.org

      - name: Milvus deploy

        timeout-minutes: 15
        shell: bash
        working-directory: deployment/standalone
        run: |
          if [ ${{ matrix.milvus_version }} == "master" ]; then
            mv docker-compose-tei.yml docker-compose.yml
          fi
          if [ ${{ matrix.case_tag }} == "RBAC" ]; then
            mv docker-compose-rbac.yml docker-compose.yml
          fi
          tag=$(python ../../scripts/get_image_tag_by_short_name.py --tag ${{ matrix.milvus_version }}-latest) && echo $tag
          yq -i ".services.standalone.image=\"milvusdb/milvus:${tag}\"" docker-compose.yml
          if [ "${{ matrix.milvus_version }}" == "master" ]; then
            yq -i '.common.storage.enablev2 = true' custom_config.yaml
          fi
          cat custom_config.yaml || true
          mkdir -p volumes/etcd volumes/minio volumes/milvus
          sudo chmod -R 777 volumes
          sudo docker compose -f docker-compose.yml up -d --wait
          sudo docker compose -f docker-compose.yml ps -a

      - name: Start server
        timeout-minutes: 5
        shell: bash
        run: |
          ./milvus-backup server > server.log 2>&1 &

      - name: Run test
        timeout-minutes: 180
        shell: bash
        working-directory: tests
        run: |
          if [ ${{ matrix.milvus_version }} == "master" ]; then
            pytest -s -v --tags ${{ matrix.case_tag }} -n 4 --tei_endpoint http://text-embeddings:80
          fi

          if [ ${{ matrix.milvus_version }} != "master" ]; then
            pytest -s -v --tags ${{ matrix.case_tag }} -n 4
          fi

      - name: Get Milvus status
        shell: bash
        working-directory: deployment/standalone
        run: |
          sudo docker compose -f docker-compose.yml ps -a || true
          kubectl get pods -n default || true

      - name: Export logs
        if: ${{ always() }}
        shell: bash
        working-directory: deployment/standalone
        run: |
          bash ../../scripts/export_log_docker.sh logs

      - name: Upload logs
        if: ${{ ! success() }}
        uses: actions/upload-artifact@v6
        with:
          name: logs-docker-standalone-${{ matrix.milvus_version }}
          path: |
            ./logs
            ./server.log
            /tmp/ci_logs
            deployment/standalone/logs

  test-backup-restore-with-custom-config:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deploy_tools: [helm]
        milvus_mode: [standalone]
        milvus_minio_rootpath: ["", "file"]
        backup_bucket_name: ["milvus-backup", "milvus-bucket"]

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: pip

      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.go-version }}
          cache: true

      - name: Creating kind cluster
        if: ${{ matrix.deploy_tools == 'helm' }}
        uses: helm/kind-action@v1.14.0

      - name: Modify Milvus config

        timeout-minutes: 15
        shell: bash
        working-directory: deployment/${{ matrix.milvus_mode }}
        run: |
          yq -i '.minio.rootPath = "${{ matrix.milvus_minio_rootpath }}"' values.yaml
      - name: Build
        timeout-minutes: 5
        shell: bash
        run: |
          if [ ${{ matrix.deploy_tools }} == 'helm' ]; then
            yq -i '.minio.bucketName = "milvus-bucket"' configs/backup.yaml
            yq -i '.minio.rootPath = "${{ matrix.milvus_minio_rootpath }}"' configs/backup.yaml
            yq -i '.minio.backupBucketName = "${{ matrix.backup_bucket_name }}"' configs/backup.yaml

          fi
          yq -i '.log.level = "debug"' configs/backup.yaml
          cat configs/backup.yaml || true
          go get
          go build
      - name: Install dependency

        timeout-minutes: 5
        working-directory: tests
        shell: bash
        run: |
          pip install -r requirements.txt --trusted-host https://test.pypi.org
      - name: Milvus deploy

        timeout-minutes: 15
        shell: bash
        working-directory: deployment/${{ matrix.milvus_mode }}
        run: |
          if [ ${{ matrix.deploy_tools}} == "helm" ]; then
            helm repo add milvus https://milvus-io.github.io/milvus-helm
            helm repo update
            helm install --wait --timeout 600s milvus-backup milvus/milvus -f values.yaml
            kubectl get pods
            kubectl port-forward service/milvus-backup 19530 >/dev/null 2>&1 &
            kubectl port-forward service/milvus-backup-minio 9000  >/dev/null 2>&1 &
            sleep 10
            nc -vz 127.0.0.1 19530
            nc -vz 127.0.0.1 9000
            sleep 10
            kubectl get pods -n default | grep milvus-backup
          fi

          if [ ${{ matrix.deploy_tools}} == "docker-compose" ]; then
            mkdir -p volumes/etcd volumes/minio volumes/milvus
            sudo chmod -R 777 volumes
            sudo docker compose -f docker-compose.yml up -d --wait
            sudo docker compose -f docker-compose.yml ps -a
          fi
      - name: Prepare data
        timeout-minutes: 5
        shell: bash
        run: |
          python example/prepare_data.py
      - name: Backup
        timeout-minutes: 5
        shell: bash
        run: |
          ./milvus-backup check
          ./milvus-backup list
          ./milvus-backup create -n my_backup
          ./milvus-backup list
      - name: Restore backup
        timeout-minutes: 5
        shell: bash
        run: |
          ./milvus-backup restore -n my_backup -s _recover
      - name: Verify data
        timeout-minutes: 5
        shell: bash
        run: |
          python example/verify_data.py
      - name: Export logs
        if: ${{ always() }}
        shell: bash
        working-directory: deployment/${{ matrix.milvus_mode }}
        run: |
          if [ ${{ matrix.deploy_tools}} == "helm" ]; then
            bash ../../scripts/export_log_k8s.sh default milvus-backup logs
          fi

          if [ ${{ matrix.deploy_tools}} == "docker-compose" ]; then
            bash ../../scripts/export_log_docker.sh logs
          fi

      - name: Upload logs
        if: ${{ ! success() }}
        uses: actions/upload-artifact@v6
        with:
          name: custom-config-${{ matrix.deploy_tools }}-${{ matrix.milvus_mode }}
          path: |
            ./logs
            ./server.log
            /tmp/ci_logs
            deployment/${{ matrix.milvus_mode }}/logs
